.hero-slider{

    width:100%;
    overflow:hidden;

    margin-bottom:40px;
}

.slider-track{

    display:flex;
    gap:20px;

    width:max-content;

    animation:scroll 25s linear infinite;
}

.slide{

    width:180px;
    height:110px;

    flex-shrink:0;

    border-radius:16px;

    overflow:hidden;

    position:relative;

    border:1px solid rgba(255,255,255,.08);
}

.slide img{

    width:100%;
    height:100%;

    object-fit:cover;
}

.slide span{

    position:absolute;

    bottom:10px;
    left:10px;

    color:white;

    font-weight:600;

    font-size:.9rem;
}

@keyframes scroll{

    from{

        transform:translateX(0);
    }

    to{

        transform:translateX(-50%);
    }

}