.linha {
    margin-top: 120px;
    display: flex;
    height: 200px;
}

.linha::before {
    content: "";
    display: block;
    border: 2px solid #fff;
    height: 100%;
}


@media (width <=1050px) {
    .linha {}

    .linha::before {
        display: none;
    }
}