.hero {
    min-height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    padding: 120px 24px 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-content {
    flex: 1;
    max-width: 620px;
}

.hero-badge {
    display: inline-flex;
    align-items: center;

    padding: 10px 18px;

    border-radius: 999px;

    border: 1px solid rgba(255,255,255,.08);

    background: #161616;

    color: #d9d9d9;

    margin-bottom: 30px;

    font-size: .95rem;
}

.hero h1 {
    font-size: clamp(3rem, 7vw, 5.5rem);
    line-height: 1.05;
    font-weight: 700;
    margin-bottom: 25px;

    background: linear-gradient(#222121,#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    color: #b5b5b5;
    line-height: 1.8;
    font-size: clamp(1rem,2vw,1.15rem);
    margin-bottom: 45px;
}

.hero-buttons {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    margin-bottom: 55px;
}

.btn-primary,
.btn-secondary {

    padding: 16px 28px;

    border-radius: 14px;

    font-size: .95rem;

    font-weight: 600;

    transition: .3s;

    cursor: pointer;
}

.btn-primary {

    display: flex;
    align-items: center;
    gap: 10px;

    background: white;
    color: #111;
    border: none;
}

.btn-primary:hover {

    transform: translateY(-4px);
}

.btn-secondary {
    background: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.btn-secondary:hover {
    color: #fff;
    background: #000000;
}

.hero-info {

    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.hero-info h2 {

    font-size: clamp(2rem,4vw,2.5rem);

    margin-bottom: 6px;
}

.hero-info span {

    color: #999;
}

.hero-image {

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 300px;
}

.hero-image img {
    border-radius: 50%;
    width: min(100%, 360px);
    height: auto;
}

/* Notebook */

@media (max-width: 1100px){

    .hero{

        gap:40px;
    }

    .hero h1{

        font-size:clamp(2.8rem,6vw,4.5rem);
    }

}

/* Tablet */

@media (max-width: 900px){

    .hero{

        flex-direction:column-reverse;

        text-align:center;

        padding-top:140px;
    }

    .hero-content{

        max-width:700px;
    }

    .hero-buttons{

        justify-content:center;
    }

    .hero-info{

        justify-content:center;
    }

    .hero-image{

        width:100%;
    }

    .hero-image img{

        width:280px;
    }

}

/* Celular */

@media (max-width:600px){

    .hero{

        padding:120px 20px 40px;
    }

    .hero h1{

        font-size:2.8rem;
    }

    .hero p{

        font-size:1rem;
    }

    .hero-buttons{

        flex-direction:column;
    }

    .btn-primary,
    .btn-secondary{

        width:100%;
        justify-content:center;
    }

    .hero-info{

        gap:30px;
    }

    .hero-info div{

        width:100%;
    }

    .hero-image img{

        width:220px;
    }

}