@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
h1,
h2,
h3,
h4,
h5 {
  color: white;
  font-size: 32px;
}

main {
  background-color: rgb(0, 0, 0, 0.8);
}

body {
  background-image: url("/images/escolha_servicos/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Averia Sans Libre", serif;
  font-weight: 300;
  font-style: normal;
}